.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.colorsContainer {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.button {
  cursor: pointer;
}