.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.info {
  text-align: right;
}
.inputsTitle {
  margin: 1rem;
  text-align: center;
}
.clarify {
  font-size: 0.8rem;
  font-style: italic;
}
.nftId {
  margin-top: 1rem;
}
.inputsContainer {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.error {
  color: red;
}

@media screen and (max-width: 1300px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .info {
    text-align: center;
  }
}